[Desktop Entry]
Name=AxAshell
Comment=A GPUI Component based SSH and local terminal client
Exec=ax_ashell
Icon=ax_ashell
Terminal=false
Type=Application
Categories=System;TerminalEmulator;Utility;
StartupWMClass=ax_ashell
