[Desktop Entry]
Name=AxShell
Comment=A GPUI Component based SSH and local terminal client
Exec=ax_shell
Icon=ax_shell
Terminal=false
Type=Application
Categories=System;TerminalEmulator;Utility;
StartupWMClass=ax_shell
